<div class="row">
  <div class="col-12">
    <div class="form-control bg-light my-5">
      <h3 class="text-center">Product Detail</h3>
      <form #_productFormLR="ngForm" (ngSubmit)="saveProduct()">
        <div hidden>
          <input class="form-control" type="text" name="id" ngModel #_idLR="ngModel">
        </div>
        <div>
          <label class="form-label">Name</label>
          <input class="form-control" type="text" name="name" ngModel #_nameLR="ngModel">
        </div>
        <div>
          <label class="form-label">Description</label>
          <input class="form-control" type="text" name="description" ngModel _desriptionLR="ngModel">
        </div>
        <div>
          <label class="form-label">Price</label>
          <input class="form-control" type="text" name="price" ngModel _priceLR="ngModel">
        </div>
        <div class="text-center">
          <input
            class="btn btn-primary my-3 text-center"
            type="submit"
            value="{{editMode ? 'Update Product' : 'Add Product'}}">
        </div>
      </form>
    </div>
  </div>
</div>
