<div class="row">
  <div class="col-12">
    <table class="table table-light">
      <thead>
      <tr class="table-dark">
        <th scope="col">Name</th>
        <th scope="col">Course</th>
        <th scope="col">Marks</th>
        <th scope="col">Percentage</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Gender</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let student of students; let i = index">
        <tr [ngClass]="{'table-secondary': i%2}">
          <td>{{student.name}}</td>
          <td>{{student.course}}</td>
          <td>{{student.marks}}</td>
          <td>{{ (student.marks / this.totalMarks) | percent : '1.2-2'}}</td>
          <td>{{student.dateOfBirth | date:'dd/MM/yyyy' | uppercase}}</td>
          <td>{{student.gender | lowercase }}</td>
        </tr>
      </ng-container>

      </tbody>
    </table>
  </div>
  <br>
  <br>
  <div class="btn-group">
    <button class="btn btn-primary mx-1" (click)="addDummyStudent()">Add Student</button>
    <button class="btn btn-primary" (click)="changeGender()">Change Gender</button>
  </div>
</div>
