<div class="row">
  <div class="col-12">
    <h1 style="color: brown">NgFor</h1>
    <p class="text-center text-muted">
        Use the NgFor directive to present a list of items.
        <br>
        1. Define a block of HTML that determines how Angular renders a single item.
        <br>
        2. To list your items, assign the short hand let item of items to *ngFor.
    </p>
  </div>

  <div class="col-12">
    <h1>Example 1 <span class="text-muted display-6"></span></h1>
    <br />

    <h1>Example 2 :: <span class="text-muted display-6"></span></h1>
    <br />

    <h1>
      Example 3 ::
      <span class="text-muted display-6"></span>
    </h1>
    <br />

    <h1>
      Example 4 ::
      <span class="text-muted display-6"></span>
    </h1>
  </div>
</div>
<hr />
