<div class="row">
  <div class="col-12">
    <h1 style="color: brown">NgFor</h1>
    <p class="text-center text-muted">
        Use the NgFor directive to present a list of items.
        <br>
        1. Define a block of HTML that determines how Angular renders a single item.
        <br>
        2. To list your items, assign the short hand let item of items to *ngFor.
    </p>
  </div>

  <div class="col-12">
    <h1>Example 1 <span class="text-muted display-6"></span></h1>
    <div *ngFor="let item of items">
      {{item.id}} - {{item.name}}
    </div>
    <br />


    <h1>Example 2 :: <span class="text-muted display-6">Repeating a component view</span></h1>
    <app-item-detail *ngFor="let item of items" [item]="item"></app-item-detail>
    <br />

    <h1> 
      Example 3 :: <span class="text-muted display-6">Getting the index of *ngFor</span>
    </h1>
    <div *ngFor="let item of items; let i = index">
      {{item.id}} - {{item.name}} - index={{ i }}
    </div>
    <br />

    <h1>
      Example 4 :: <span class="text-muted display-6">Repeating elements when a condition is true</span>
    </h1>
    <div *ngFor="let item of items; trackBy: trackByItems">
      ({{item.id}}) - {{item.name}}
    </div>
    <br>

  </div>
</div>
<hr />
