<div class="row">
    <div class="col-12">
      <h1 style="color: brown">NgSwitch</h1>
      <p class="text-center text-muted">
         
      </p>
    </div>
  
    <div class="col-12">
      <h1>Example 1 <span class="text-muted display-6"></span></h1>
      <br />
  
      <h1>Example 2 :: <span class="text-muted display-6"></span></h1>
      <br />
  
      <h1>
        Example 3 ::
        <span class="text-muted display-6"></span>
      </h1>
      <br />
  
      <h1>
        Example 4 ::
        <span class="text-muted display-6"></span>
      </h1>
    </div>
  </div>
  <hr />
  