<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-12 text-center">
      <h1 style="color: brown">ViewChild</h1>
      <p class="text-start text-muted"> 
        Property decorator that configures a view query. The change detector looks for the first element or the 
        directive matching the selector in the view DOM. If the view DOM changes, and a new child matches the selector, 
        the property is updated.
      </p>
    </div>
  </div>
  <app-parent></app-parent>
</div>