<div class="container text-center my-3">
  <div class="row">
    <div class="col-12 mb-3">
      <h1 style="color: brown">Custom Directives</h1>
    </div>
    <div class="col-12 mb-3">
      <h1>
        Example 1 :: <span class="text-muted display-6">A basic directive</span>
      </h1>
      <div class="p-3 text-center" background_1>
        <p class="display-6">
          This is a demo content to understand custom directives in Angular
        </p>
      </div>
      <br>
    </div>

    <div class="col-12 mb-3">
      <h1>
        Example 2 :: <span class="text-muted display-6">Using renderer2 and setStyle</span>
      </h1>
      <div class="p-3 text-center" background_2>
        <p class="display-6">
          This is a demo content to understand custom directives in Angular
        </p>
      </div>
      <br>
    </div>

    <div class="col-12 mb-3">
      <h1>
        Example 3 :: <span class="text-muted display-6">Using renderer2 and setAttribute</span>
      </h1>
      <div class="p-3 text-center" background_3>
        <p class="display-6">
          This is a demo content to understand custom directives in Angular
        </p>
      </div>
      <br>
    </div>

    <div class="col-12 mb-3">
      <h1>
        Example 4 :: <span class="text-muted display-6">Using @Input decorator</span>
      </h1>
      <div class="p-3 text-center" [background_4]="'#FF1493'">
        <p class="display-6">
          This is a demo content to understand custom directives in Angular
        </p>
      </div>
      <br>
    </div>

    <div class="col-12 mb-3">
      <h1>
        Example 5 :: <span class="text-muted display-6">Using @HostBinding and @HostListener</span>
      </h1>
      <div class="p-3 text-center" [background_5]="'#F0E68C'">
        <p class="display-6">
          This is a demo content to understand custom directives in Angular
        </p>
      </div>
      <br>
    </div>

    <div class="col-12 mb-3">
      <h1>
        Example 6 :: <span class="text-muted display-6">Using renderer2 and addClass</span>
      </h1>
      <div class="p-3 text-center" background_6>
        <p class="display-6">
          This is a demo content to understand custom directives in Angular
        </p>
      </div>
      <br>
    </div>

    <div class="col-12 mb-3">
      <h1>
        Example 7 :: <span class="text-muted display-6">Custom class directive</span>
      </h1>
      <div class="p-3 text-center" [custom_class]="{'bg-warning': true, 'display-1': true,'text-white': true}">
        <p class="display-6">
          This is a demo content to understand custom directives in Angular
        </p>
      </div>
      <br>
    </div>

    <div class="col-12 mb-3">
      <h1>
        Example 8 :: <span class="text-muted display-6">Custom style directive</span>
      </h1>
      <div  [appCustomStyle] ="{backgroundColor: active ? 'Green' : 'Red', color: 'white', fontWeight: 'bold', padding: '21px'}">
        <p>This is a demo HTML content to understand how to create custom ngStyle directive in Angular.</p>
      </div>
      <br>
    </div>

    <div class="col-12 mb-3">
      <h1>
        Example 9 :: <span class="text-muted display-6">Custom if directive</span>
      </h1>
      <div class="bg-danger text-white p-3 my-3" *appCustomIf="display">
        <p>This is a notice issued for all website users.</p>
        <h3>This is important notice!</h3>
      </div>
      <button class="btn btn-primary" (click)="displayNotice()">Show notice</button>
      <br>
    </div>

  </div>
</div>
