<div class="container">
  <div class="row">
    <div class="col-12">
        <h1 style="color: brown">Event Binding Examples</h1>
    </div>
    <div class="col-6">
      <h1>Example 1</h1>
      <input type="text" class="form-control" #inputMessage />
      <button class="btn btn-primary m-1" (click)="onClick(inputMessage.value)">
        Click on me
      </button>
      <br />
    </div>
    <div class="col-6">
      <h1>Example 2</h1>
      <input type="text" class="form-control" (input)="onInput($event)" />
      <br />
    </div>
    <div class="col-12">
      <h1>{{ message }}</h1>
    </div>
  </div>
</div>
<hr />
